<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Help</title>
    <link rel="icon" href="img/cloudy.png">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
        <p>Let me tell you how to use the application! ⛄<br><br>
        Firstly, you will see the 'Weather App' page when you land on the website.<br><br>
        You can type in your location or any location for getting weather information in the form. <br><br>
        Click 'Search' and you will see your desired information below in the same page!<br><br>
        Easy! 👌<br><br>
        You can explore other information about the app: Author and Help Page; on the navbar.<br><br><br>
        Happy Browsing! 🌞
        </p>

        {{>footer}}
    </div>
    
</body>
</html>